body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

.ui .secondary .menu{
  height: 10vh;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('../img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* margin-top: -5px; */
  /* margin-bottom: -50px; */
}

.landing-inner {
  padding-top: 80px;
}


.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
